.postContainer {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 170px;
    border: 2.5px solid black;
    margin-top: 1rem

}

.postContainer img {
    border: 2px solid black;
}

.postContent {
    padding-bottom: 1rem;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem
    
}

.postHeader img {
    margin-left: 2.6rem; 
}

h2{
    margin-left: 170px;
}
 
.thumbNail{
    outline: black;
    border-radius: 50%;
    height: 90px;
}

.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.6rem;
    padding-right: 2.6rem
    
    
}
